
#logo-right{
  position: fixed;
  right: 10px;
  top: 2px;
}



#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#logo-METF {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.8;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#logo-METF:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}


.btn.dropdown-toggle.btn-default{
    color: #ffffff;
    background-color: #748391;
    border-color: #74898a;
    padding: 1px 9px;
     font-size:12px;
  
}

.btn.btn-default.action-button.shiny-bound-input{
     color: #ffffff;
    background-color: #748391;
    border-color: #74898a;
    padding: 1px 9px;
     font-size:12px; 
  
}

.btn-group>.btn:first-child {
    margin-left: 0;
    font-size: 12px;
    padding: 1px 9px;
}


.leaflet-title {
  font-size:30px;
}

.leaflet-small-title {
  font-size:20px;
}
